.ipynb_checkpoints/
PD29424h.caveman_c.snps.vcf
concat_PD29424h.caveman_c.snps.csv
concat_chrom_5_G_PD29424h.caveman_c.snps.csv
concat_chrom_5_PD29424h.caveman_c.snps.csv
filtered_chr5_ratio_PD29424h.caveman_c.snps.csv
filtered_chr5_ratio_PD29424h.caveman_c.snps_optional.csv
full_PD29424h.caveman_c.snps.csv
sandbox.ipynb

